<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- PORTADA -->
<section class="portada">
    <section class="portada__content-izq">
        <h2 class="portada__content-title">
            Estas entrando
            a nuestro portal
            a
            <span class="portada__title-orange">vivir una
                experencia
            </span>
            unica
        </h2>
        <p class="portada__content-description">
            Let's make your work more organize and easily using the
            <br>
            Taskio Dashboard with many of the latest featuresin
            <br>
            managing work every day.
        </p>
        <a href="https://www.upnetweb.com/auth/login" target="_blank">
            <button class="portada__content-orange">
                Iniciar sesión
            </button>
        </a>
    </section>
    <section class="portada__content-der">
        <picture class="portada__content-img">
            <img src="../../../assets/images/portals/portada.png" alt="">
        </picture>
    </section>
</section>
<!-- CAPACIONES -->
<section class="general">
    <section class="general__video ocultar">
        <div class="general__video-cont">
            <picture class="general__cont-play">
                <img src="../../../assets/images/portals/play.png" alt="">
            </picture>
        </div>
    </section>
    <section class="general__content">
        <h3 class="general__content-title">
            Paso a paso para
            usar
            <span class="general__title-orange">Upnet for
                your
            </span>
        </h3>
        <p class="general__content-description">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation
        </p>
        <picture class="general__content-img ocultar">
            <img src="../../../assets/images/portals/upnet.png" alt="">
        </picture>
    </section>
    <section class="general__video ver">
        <div class="general__video-cont">
            <picture class="general__cont-play">
                <img src="../../../assets/images/portals/play.png" alt="">
            </picture>
        </div>
    </section>
</section>
<section class="general">
    <section class="general__content">
        <h3 class="general__content-title">
            Paso a paso para
            usar
            <span class="general__title-orange">
                nuestra App
                Mobile
            </span>
        </h3>
        <p class="general__content-description">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation
        </p>
        <picture class="general__content-img ocultar">
            <img src="../../../assets/images/portals/upnet.png" alt="">
        </picture>
    </section>
    <section class="general__video">
        <div class="general__video-cont">
            <picture class="general__cont-play">
                <img src="../../../assets/images/portals/play.png" alt="">
            </picture>
        </div>
    </section>

    <picture class="general__content-img ver">
        <img src="../../../assets/images/portals/upnet.png" alt="">
    </picture>
</section>
<!-- CONTACTAR -->
<section class="general__form">
    <div class="general__form-card">
        <!--  [activeIndex]="[0]" -->
        <p-accordion [multiple]="true">
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Uso de sitio web AOTOUR?
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Tienes inconvenientes con el registro, el ingreso o el código QR?
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                    numquam eius modi.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Tienes inconvenientes con el registro, el ingreso o el código QR?
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>

    <section class="general__form-content">
        <h3 class="general__form-title">¿Tienes un problema?</h3>
        <span class="general__form-title-description">
            Follow our newsletter. We will regulary update our latest
            <br>
            project and availability.
        </span>
        <div class="general__form-form">
            <input type="email" placeholder="Enter your Email" name="" id="">
            <button>Contactar</button>
        </div>

        <div class="general__form-link">
            <a href="">
                More FAQ
            </a>
            <img src="../../../assets/images/portals/flecha.svg" alt="">
        </div>
    </section>
</section>


<!-- PIE DE PAGINA -->
<app-footer-page></app-footer-page>