<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- CONTACTANOS -->
<section class="contactanos">
  <h2 class="contactanos__title">
    Conéctate para una
    <span class="contactanos__title-black">aventura sin límites</span>
  </h2>
  <p class="contactanos__description">
    Conéctate con <strong>AUTO OCASIONAL TOUR S.A.S</strong> y prepárate para una aventura sin
    límites. En nuestra empresa, combinamos innovación y pasión para ofrecerte
    experiencias únicas que superan todas las expectativas. Desde soluciones
    creativas hasta servicios personalizados, cada aspecto de lo que hacemos
    está diseñado para llevarte más allá de lo convencional. Descubre un mundo
    de posibilidades infinitas y únete a nosotros para explorar nuevas fronteras
    y lograr grandes cosas. ¡Tu próxima gran aventura comienza aquí!
  </p>

  <form class="contactanos__form">
    <div class="contactanos__content-input">
      <div>
        <label for="">Nombre completo</label>
        <input type="text" placeholder="Ingrese su nombre completo" />
      </div>
      <div>
        <label for="">Telefono de contacto</label>
        <input type="text" placeholder="Ingrese su número de teléfono" />
      </div>
    </div>
    <div class="contactanos__content-input">
      <div>
        <label for="">Email</label>
        <input type="email" placeholder="example@gmail.com" />
      </div>
      <div>
        <label for="">Ciudad</label>
        <input type="text" placeholder="Seleccione una ciudad" />
      </div>
    </div>
    <div class="contactanos__content-input">
      <div>
        <label for="">Mensaje</label>
        <textarea
          name=""
          id=""
          rows="8"
          placeholder="Ingrese un mensaje"
        ></textarea>
      </div>
    </div>

    <button>Enviar mensaje</button>
  </form>
</section>

<!-- PIE DE PAGINA -->
<app-footer-page></app-footer-page>
