<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- CONTACTANOS -->
<section class="contactanos">
    <h2 class="contactanos__title">
        Conéctate para una
        <span class="contactanos__title-black">aventura sin límites</span>
    </h2>
    <p class="contactanos__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est
        laborum.
    </p>

    <form class="contactanos__form">
        <div class="contactanos__content-input">
            <div>
                <label for="">Nombre completo</label>
                <input type="text" placeholder="Ingrese su nombre completo">
            </div>
            <div>
                <label for="">Telefono de contacto</label>
                <input type="text" placeholder="Ingrese su número de teléfono">
            </div>
        </div>
        <div class="contactanos__content-input">
            <div>
                <label for="">Email</label>
                <input type="email" placeholder="example@gmail.com">
            </div>
            <div>
                <label for="">Ciudad</label>
                <input type="text" placeholder="Seleccione una ciudad">
            </div>
        </div>
        <div class="contactanos__content-input">
            <div>
                <label for="">Mensaje</label>
                <textarea name="" id="" rows="8" placeholder="Ingrese un mensaje"></textarea>
            </div>
        </div>

        <button>Enviar mensaje</button>
    </form>
</section>

<!-- PIE DE PAGINA -->
<app-footer-page></app-footer-page>