<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- POLITICAS CORPORATIVAS -->
<section class="general__form">
    <section class="general__form-content">
        <h3 class="general__form-title">
            Políticas
            <span class="general__title-orange">Corporativas</span>
        </h3>
        <p class="general__form-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat
        </p>

        <picture>
            <img src="../../../assets/images/policies/reunion.png" alt="">
        </picture>
    </section>
    <div class="general__form-card">
        <!--  [activeIndex]="[0]" -->
        <p-accordion [multiple]="true">
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Politica de privacidad y manejo de datos
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de control y seguimiento para la seguridad vial
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                    numquam eius modi.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de prevención para el consumo de sustancias psicoactivas
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Politica de privacidad y manejo de datos
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de control y seguimiento para la seguridad vial
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de prevención para el consumo de sustancias psicoactivas
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>
</section>

<!-- TERMINOS Y CONDICIONES -->
<section class="general__form" style="background-color: white; min-height: 680px;">
    <section class="general__form-content ver">
        <h3 class="general__form-title">
            Términos y
            <span class="general__title-orange">condiciones</span>
        </h3>
        <p class="general__form-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat
        </p>

        <picture>
            <img style="width: 60%;" src="../../../assets/images/policies/planificacion.png" alt="">
        </picture>
    </section>
    <div class="general__form-card">
        <!--  [activeIndex]="[0]" -->
        <p-accordion [multiple]="true">
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Politica de privacidad y manejo de datos
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de control y seguimiento para la seguridad vial
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                    numquam eius modi.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de prevención para el consumo de sustancias psicoactivas
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Politica de privacidad y manejo de datos
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de control y seguimiento para la seguridad vial
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de prevención para el consumo de sustancias psicoactivas
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
            <p-accordionTab [header]="headerTemplate">
                <ng-template pTemplate="header">
                    <div class="header__acordeon">
                        Política de prevención para el consumo de sustancias psicoactivas
                        <img src="../../../assets/images/portals/mas.png" alt="">
                    </div>
                </ng-template>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>
    <section class="general__form-content ocultar">
        <h3 class="general__form-title">
            Términos y
            <span class="general__title-orange">condiciones</span>
        </h3>
        <p class="general__form-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat
        </p>

        <picture>
            <img style="width: 60%;" src="../../../assets/images/policies/planificacion.png" alt="">
        </picture>
    </section>
</section>

<!-- PIE DE PAGINA -->
<app-footer-page></app-footer-page>