<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- POLITICAS CORPORATIVAS -->
<section class="general__form">
  <section class="general__form-content">
    <h3 class="general__form-title">
      Políticas
      <span class="general__title-orange">Corporativas</span>
    </h3>
    <p class="general__form-description">
      En nuestra empresa, promovemos un entorno de trabajo transparente y
      responsable mediante directrices claras que guían nuestro comportamiento
      diario. Estas directrices abarcan desde el cumplimiento de leyes y
      normativas hasta el fomento de una conducta ética y profesional. Estamos
      comprometidos en revisar y actualizar continuamente nuestras prácticas
      para asegurar que reflejen los más altos estándares y se adapten a las
      necesidades cambiantes de nuestro negocio y nuestro equipo.
    </p>

    <picture>
      <img src="../../../assets/images/policies/reunion.png" alt="" />
    </picture>
  </section>
  <div class="general__form-card">
    <!--  [activeIndex]="[0]" -->
    <p-accordion [multiple]="true">
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Politica de privacidad y manejo de datos
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          Este documento contiene la política de manejo de información y datos
          personales, de <strong>AUTO OCASIONAL TOUR S.A.S.</strong>, y tiene
          como fin comunicar qué información se solicita, para qué, cómo se usa,
          cuándo se comparte y cómo se protege, así como los derechos que tienen
          los titulares de conocer, actualizar o rectificar dicha información y
          los procedimientos para acceder a ésta y solicitar su eliminación.
          <br />
          <br />
          <strong>¿Qué información solicitaremos?</strong>
          <br />
          <br />
          Los datos personales que obtenemos, que en todo caso son datos
          privados que no están disponibles al público, son:
          <br />
          <br />
          Tipo y número de documento de identificación (Cédula de ciudadanía o
          extranjería, o, NIT).
          <br />
          <br />
          Nombres y Apellidos / Razón Social.
          <br />
          Cargo / Ocupación.
          <br />
          Fecha de nacimiento y género.
          <br />
          Teléfonos fijos y celulares de contacto (personal o laboral).
          <br />
          Direcciones y correo electrónico (personales o laborales). Fax
          (personal o laboral).
          <br />
          Información de contactos comerciales, de cartera, de tesorería y todos
          aquellos necesarios en el desarrollo de la operación en general.
          <br />
          Información relativa a entidades financieras y detalle de cuentas
          bancarias.
          <br />
          Datos personales de los beneficiarios de las ventas corporativas.
          <br />
          <br />
          <strong>¿Para que y cómo se usa?</strong>
          <br />
          <br />
          Los clientes y proveedores de bienes o servicios autorizan a AUTO
          OCASIONAL TOUR S.A.S. el uso, recolección, transferencia, tratamiento,
          administración y supresión de datos personales en bases de datos, para
          hacer posible la utilización de éstos para fines administrativos
          internos o comerciales tales como: venta de servicios de transporte
          terrestre automotor especial, investigación de mercados, análisis
          estadísticos, y realización de encuestas sobre satisfacción, así como
          para conservar registros históricos de la compañía y mantener contacto
          con los clientes y proveedores. Para el caso de ventas corporativas,
          los datos personales que los clientes suministren de los beneficiarios
          de tales ventas corporativas, se utilizarán en el proceso de ejecución
          de contratos de compraventa y suministro.
          <br />
          <br />
          Adicionalmente, los clientes y proveedores de bienes o servicios en su
          calidad de titulares de los datos personales, al aceptar esta
          política, autorizan a
          <strong>AUTO OCASIONAL TOUR S.A.S. </strong> para:
          <br />
          <br />
          Recabar o recolectar los datos personales e incorporarlos y
          almacenarlos en nuestra base de datos. Ordenar, catalogar, clasificar,
          dividir o separar la información suministrada. Utilizar los datos
          suministrados en campañas de comunicación, divulgación y promoción u
          oferta de nuestros servicios. Utilizarlos para fines administrativos
          internos o comerciales tales como: estudios de crédito, elaboración y
          presentación de cotizaciones, referencias comerciales de experiencia,
          investigación de mercados, análisis estadísticos, realización de
          encuestas sobre satisfacción, y servicio postventa. Conservar
          registros históricos de la compañía y mantener contacto con los
          titulares del dato. Verificar, comprobar o validar los datos
          suministrados. Estudiar y analizar la información entregada para el
          seguimiento y mejoramiento de los productos, el servicio y la
          atención. Entregar la información recolectada a terceros con los que
          la compañía contrate el almacenamiento y administración de los datos
          personales, bajo los estándares de seguridad y confidencialidad a los
          cuales estamos obligados. Transferir los datos personales a cualquier
          país o servidor en otro país. Comunicar y permitir el acceso a los
          datos personales suministrados a las personas naturales o jurídicas
          asociadas de <strong>AUTO OCASIONAL S.A.S.</strong> Vinculación como contratista o
          proveedor. Control y prevención del fraude. Control y prevención de
          lavado de activos y financiación del terrorismo. Celebración,
          ejecución y gestión de las propuestas de negocios y contratos objeto
          de los servicios prestados. Reportes a centrales de riesgo por
          incumplimiento de las obligaciones financieras derivadas de la
          relación comercial.
          <br />
          <br />
          Al aceptar esta Política, los clientes y proveedores de bienes o
          servicios en su calidad de titulares de los datos personales,
          autorizan a <strong>AUTO OCASIONAL S.A.S.</strong>, sin que ello de lugar al pago
          de contraprestación alguna, para que los utilice de forma parcial o
          total, incluyendo la recolección, almacenamiento, uso, procesamiento,
          divulgación, transmisión o transferencia de los datos suministrados,
          para la ejecución de las finalidades descritas anteriormente. Por su
          parte quienes suministren datos personales de sus beneficiarios,
          dependientes, empleados, directivos o accionistas declaran que cuentan
          con la autorización previa por parte de aquellos para darles tal
          tratamiento.
          <br />
          <br />
          <strong>AUTO OCASIONAL TOUR S.A.S.</strong> podrá actuar como
          responsable o encargado del dato personal, dependiendo la finalidad
          para la cual se haya obtenido el dato personal, por lo que se
          compromete a cumplir con las responsabilidades que para cada uno haya
          fijado la normatividad.
          <br />
          <br />
          ¿Cuándo se comparte?
          <br />
          <br />
          <strong>AUTO OCASIONAL TOUR S.A.S.</strong> se abstendrá de vender la
          información personal recabada de los clientes y proveedores de bienes
          o servicios, como también se negará a compartir esta información con
          cualquier persona natural o jurídica externa no autorizada.
          <br />
          <br />
          Los datos personales suministrados en virtud de la ejecución de
          compraventa o suministro de uniformes o dotaciones a través de ventas
          corporativas, podrá ser transmitida a proveedores y terceros
          involucrados en la cadena de servicio público de transporte terrestre
          especial automotor.
          <br />
          <br />
          Sin perjuicio de lo anterior, la información personal recolectada
          podrá ser suministrada, cuando <strong>AUTO OCASIONAL S.A.S.</strong> crea de
          buena fe, que esa divulgación sea razonablemente necesaria para:
          <br />
          <br />
          a) Evitar una responsabilidad legal.
          <br />
          b) Cumplir con leyes, normativas, citaciones u órdenes judiciales.
          <br />
          c) Cumplir un requerimiento de una autoridad gubernamental o
          reguladora.
          <br />
          <br />
          Lo anterior, siempre de conformidad con la normatividad vigente en
          materia de protección de datos personales.
          <br />
          <br />
          ¿Cómo se protege?
          <br />
          <br />
          <strong>AUTO OCASIONAL TOUR S.A.S.</strong> se abstendrá de realizar
          ningún tratamiento a los datos personales parciales, incompletos,
          fraccionados o que induzcan a error. En caso que se entregue
          información a terceros para su tratamiento
          <strong>AUTO OCASIONAL TOUR S.A.S.</strong>
          garantizará que la misma sea veraz, completa, exacta, actualizadas,
          comprobable y comprensible.
          <br />
          <br />
          Los datos personales recolectados pueden ser almacenados o procesados
          en servidores, lo que es autorizado por el titular del dato al aceptar
          esta Política.
          <br />
          <br />
          Contamos con procedimientos y estándares de seguridad y herramientas
          tecnológicas que nos permiten: recabar, trasmitir, almacenar,
          administrar, consultar y usar la información personal, mediante
          protocolos seguros, restricciones de acceso, prácticas de desarrollo
          interno de software seguro, entre otros.
          <br />
          <br />
          Los terceros contratados para administrar la información recolectada
          están obligados a dar cumplimiento a protocolos de seguridad,
          incluyendo la suscripción de acuerdos de confidencialidad.
          <br />
          <br />
          Solo tendrán acceso a la información personal suministrada por el
          cliente y proveedores de bienes o servicios quienes ejerzan la función
          de Administradores de Bases de Datos y por lo tanto deban utilizar
          dichos datos únicamente para cumplir con las finalidades descritas en
          esta política.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Política de control y seguimiento para la seguridad vial
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <div>
          <strong>Auto Ocasional Tour S.A.S.</strong>, empresa dedicada a la
          prestación de servicio especial de transporte terrestre automotor,
          establece, implementa, mantiene y mejora de manera continua el Plan
          Estratégico de Seguridad Vial, sus lineamientos, acciones y mecanismos
          de medición, así como la evolución de sus resultados y planes de
          mejora, por ello estamos comprometidos en programar y ejecutar
          actividades direccionadas a disminuir la probabilidad de ocurrencia de
          incidentes o accidentes de tránsito que puedan afectar la integridad
          física, mental y social del personal, contratistas, subcontratistas,
          comunidad, la propiedad y/o el medio ambiente. Para cumplir este
          compromiso, en <strong>Auto Ocasional Tour S.A.S.</strong>
          enmarcamos las siguientes directrices:
          <br />
          <br />
          Cumplir las Regulaciones establecidas por las Normas de Tránsito y
          Transporte y Especificaciones Técnicas, como la Resolución 40595 del
          2022 , Resolución 0312 del 2019 (Estándares Mínimos), y D.U.R. Ley
          1072 de 2015, así como otras aplicables a la organización.
          <ul>
            <li>
              Ofrecer cortesía y respeto por otros conductores y usuarios de la
              vía.
            </li>
            <li>Prevenir de la fatiga.</li>
            <li>Cuidar el vehículo y el cliente.</li>
            <li>
              Cubrir a todos los conductores, propios, subcontratistas,
              afiliados, etc.
            </li>
            <li>
              Establecer horarios estandarizados para la movilización de los
              vehículos en carretera.
            </li>
            <li>
              Vigilará la responsabilidad de los contratistas en el
              mantenimiento preventivo y correctivo de los vehículos,
              estableciendo las medidas de control para evitar la ocurrencia de
              accidentes que pueda generar daños al individuo o a terceros.
            </li>
            <li>
              Informar a los visitantes sobre las normas vigentes en la empresa
              en materia de seguridad vial.
            </li>
            <li>
              Prohibir definitivamente a los conductores el consumo de tabaco,
              drogas y alcohol dentro de los vehículos, el incumplimiento de
              esta norma constituye causa justa para dar por terminado cualquier
              tipo de relación laboral o contractual.
            </li>
            <li>
              Prohibición del transporte de personal no autorizado en los
              vehículos al servicio de la empresa.
            </li>
            <li>Respetar las señales de tránsito y límites de velocidad.</li>
          </ul>
          Cumplimiento de los estándares y conducción segura.
          <br />
          <br />
          Las directrices que constituyen esta política son de obligatorio
          cumplimiento para conductores propios, subcontratistas y afiliados.
          <br />
          <br />
          Esta política se publica, se comunica, es entendida y aplicada por
          todas las personas que forman parte de la organización, está
          disponible para las partes interesadas y se revisa como mínimo una vez
          al año para asegurar su pertinencia y adecuación.
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Política de prevención para el consumo de sustancias psicoactivas
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <div>
          <h2>Prevención del consumo de alcohol y drogas</h2>
          <strong>AUTO OCASIONAL S.A.S.</strong>, ha definido y establecido una
          política de Alcohol y Drogas, para prevenir, mejorar, conservar y
          preservar el bienestar de los funcionarios, calidad de vida, que
          permita un adecuado desempeño y competitividad del personal y de la
          compañía, así como el fomento de estilos de vida saludables, teniendo
          en cuenta lo establecido en la resolución 1075 de marzo 24 de 1992.
          <br />
          <br />
          Es política de <strong>AUTO OCASIONAL S.A.S.</strong>, mantener
          lugares de trabajo óptimos que permita alcanzar los más altos
          estándares en Seguridad, y Productividad. La empresa es consciente que
          el alcoholismo, la drogadicción y el abuso de sustancias alucinógenas
          y enervantes por parte de los funcionarios, tienen efectos adversos en
          la capacidad de desempeño y afectan considerablemente la salud,
          seguridad, eficiencia y productividad de los empleados y de la empresa
          en general.
          <br />
          <br />
          La indebida utilización de medicamentos formulados, posesión,
          distribución y venta de drogas no recetadas o de sustancias
          alucinógenas y enervantes, en el desarrollo del trabajo y dentro de
          las instalaciones está estrictamente prohibida. Así mismo, se prohíbe
          la posesión, uso, distribución o venta de bebidas alcohólicas en las
          instalaciones de <strong>AUTO OCASIONAL S.A.S.</strong>, o cada uno de
          sus centros de trabajo o durante la prestación de servicios.
          <br />
          <br />
          La empresa podrá realizar pruebas de alcohol y drogas directamente o a
          través de terceros, cuando existan razones para sospechar de abuso de
          alcohol y drogas, cuando un trabajador o contratista esté involucrado
          en un accidente y deba descartarse una relación con uso o abuso de
          estos. Se tendrá en cuenta la relación con las actividades definidas
          en el artículo 41 del Decreto 1108 de 1994.
          <br />
          <br />
          Presentarse a trabajar bajo el efecto del alcohol, drogas y/o
          sustancias alucinógenas y enervantes o que creen dependencia, está
          estrictamente prohibido.
          <br />
          <br />
          Prevención del tabaquismo
          <br />
          <br />
          <strong>AUTO OCASIONAL S.A.S.</strong>, ha definido y establecido una
          política de No Fumadores, para prevenir, mejorar, conservar y
          preservar el bienestar de los trabajadores, contratistas y temporales,
          mejorando la calidad de vida, que permita un adecuado desempeño y
          competitividad del personal y de la compañía, así como el fomento de
          estilos de vida saludables, teniendo en cuenta lo establecido en la
          resolución 4225 de mayo 29 de 1992.
          <br />
          <br />
          Es política de <strong>AUTO OCASIONAL S.A.S.</strong>, mantener
          ambientes sanos de trabajo donde prime la seguridad, la salud y la
          productividad. La compañía es consciente de que el tabaquismo por
          parte de los trabajadores, contratistas y temporales, tienen efectos
          adversos en la capacidad de desempeño y afectan seriamente la salud,
          seguridad, eficiencia y productividad de otros trabajadores y de la
          compañía en general.
          <br />
          <br />
          Para cumplir con este propósito
          <strong>AUTO OCASIONAL S.A.S.</strong>, ha establecido los siguientes
          ítems:
          <br />
          <br />
          <ul>
            <li>
              Prohíbe fumar, en el desarrollo de los trabajos, dentro de las
              instalaciones, centros de trabajo o en la operación de vehículos y
              motos.
            </li>
            <li>
              Promueve actividades de sensibilización y de capacitación para los
              trabajadores, contratistas y temporales que buscan la creación de
              hábitos saludables en relación al daño que causa el cigarrillo a
              la salud del individuo y de su entorno.
            </li>
          </ul>
          <strong>AUTO OCASIONAL S.A.S.</strong>, ha designado el Recurso Humano
          y financiero necesario para dar cumplimiento a esta política y espera
          por su parte, la colaboración de todos los funcionarios, participando
          activamente en los programas de sensibilización y capacitación.
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Política de regulación de la velocidad
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <div>
          Los empleados y/o contratistas que realicen actividades de conducción
          para <strong>AUTO OCASIONAL S.A.S.</strong>, deberán respetar y acatar
          los límites de velocidad de sus vehículos de la siguiente manera:
          <ul>
            <li>Carreteras nacionales y departamentales: 80 km/h.</li>
            <li>Carreteras urbanas: 50 km/h.</li>
            <li>Vías rurales, residenciales o escolares: 30 km/h</li>
          </ul>
          Y de acuerdo a la señalización que presenten las rutas por donde se
          encuentra transitando. El conductor deberá ajustar la velocidad a las
          condiciones del viaje y de la vía.
          <br />
          <br />
          Las directrices que constituyen esta política son de obligatorio
          cumplimiento para conductores propios, subcontratistas y afiliados
          <br />
          <br />
          Esta política se publica, se comunica, es entendida y aplicada por
          todas las personas que forman parte de la organización, está
          disponible para las partes interesadas y se revisa como mínimo una vez
          al año para asegurar su pertinencia y adecuación.
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Pólitica de uso del cinturón de seguridad
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          <strong>AUTO OCASIONAL S.A.S.</strong>, consciente de que el
          acatamiento de las normas de seguridad en la vía, es la mejor forma de
          prevenir accidentes de tránsito que generen daños a la integridad
          física de los ciudadanos, promueve y exige para el personal de
          conductores en rutas <strong>AUTO OCASIONAL S.A.S.</strong>, el uso
          obligatorio del Cinturón de Seguridad del conductor y pasajeros.
          Además, todos los vehículos propios, arrendados y/o contratados
          deberán tener cinturones de seguridad de acuerdo a la reglamentación
          vigente. Las directrices que constituyen esta política son de
          obligatorio cumplimiento para conductores propios, subcontratistas y
          afiliados. Esta política se publica, se comunica, es entendida y
          aplicada por todas las personas que forman parte de la organización,
          está disponible para las partes interesadas y se revisa como mínimo
          una vez al año para asegurar su pertinencia y adecuación.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Política SGI
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <div>
          Es política de <strong>AUTO OCASIONAL S.A.S.</strong>, en sus
          operaciones de prestación de servicios de transporte terrestre
          especial de pasajeros corporativos, ejecutivos, particular y servicios
          turísticos, en todos los centros donde opera, reconocer la importancia
          de la satisfacción de sus clientes, del cuidado del medio ambiente,
          del capital humano y comprometerse al más alto nivel de la
          organización con la implementación y el mejoramiento continuo a través
          del Sistema Integrado de Gestión, el cual va encaminado a ofrecer
          servicios con los más altos estándares de calidad, generar
          responsabilidad al cuidado y protección del medio ambiente, promover y
          mantener el bienestar físico, mental y social de los trabajadores y
          demás partes interesadas, ofreciendo lugares de trabajo seguros y
          adecuados.
          <br />
          <br />
          En concordancia con lo anterior, contempla las siguientes directrices:
          <nav>
            <ul>
              <li>
                Generar satisfacción de nuestros clientes, cumpliendo con los
                compromisos adquiridos.
              </li>
              <li>
                Cumplir con la normatividad legal vigente aplicables de
                responsabilidad integral.
              </li>
              <li>
                Comprometerse con la reducción de impacto ambiental y la
                prevención de contaminación.
              </li>
              <li>
                Proporcionar el entrenamiento y la capacitación que permita
                mejorar la competencia, conciencia y responsabilidad de todos
                los empleados.
              </li>
              <li>
                Crear conciencia y cultura de autoprotección a través de la
                gestión de sus riesgos, especialmente los considerados críticos,
                riesgos por Condiciones de seguridad (Publico y Accidentes de
                tránsito) y Biomecánico (Movimientos repetitivos y Posturas
                prolongadas sedentes).
              </li>
              <li>
                Procurar el bienestar físico, psíquico y social del personal a
                través de la prevención de las enfermedades.
              </li>
              <li>
                Lograr el mejoramiento continuo y buen desempeño del sistema
                Integrado de gestión
              </li>
            </ul>
          </nav>
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Política de desconexión laboral
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <div>
          <strong>AUTO OCASIONAL S.A.S.</strong>, consciente de la importancia
          de facilitar un entorno de bienestar integral, productivo, sano,
          seguro y adecuado para aquellos que trabajan en la Organización y
          dando cumplimiento a lo establecido por la Ley 2191 de 2022, reconoce,
          promueve y garantiza el derecho al goce efectivo del tiempo libre y
          los tiempos de descanso, licencias, permisos y/o vacaciones que le
          asiste a todos los trabajadores vinculados a la entidad, con el fin de
          promover un equilibrio en la vida personal, familiar y laboral a
          partir de las siguientes:
          <br />
          <br />
          <strong>Definiciones:</strong>
          <ul>
            <li>
              Desconexión laboral: Entiéndase como el derecho que tienen todos
              los trabajadores y servidores públicos, a no tener contacto, por
              cualquier medio o herramienta, bien sea tecnológica o no, para
              cuestiones relacionadas con su ámbito o actividad laboral, en
              horarios por fuera de la jornada ordinaria o jornada máxima legal
              de trabajo, o convenida, ni en sus vacaciones o descansos[1].
            </li>
            <li>
              Periodo de desconexión laboral: Es el término de tiempo que inicia
              una vez el trabajador ha finalizado la jornada laboral pactada,
              bien sea por tiempo libre y tiempos de descanso, disfrute de
              licencias, permisos y/o vacaciones.
            </li>
            <li>
              Queja: Reporte, notificación o aviso que tiene como fin dar
              conocimiento al empleador de una presunta vulneración al derecho
              de desconexión laboral, la cual deberá presentarse de manera
              escrita a través de los canales dispuestos por la Organización
              para tal fin.
            </li>
            <li>
              Fuerza mayor o caso fortuito: Se llama fuerza mayor o caso
              fortuito el imprevisto o que no es posible resistir[2], que ocurre
              de manera inesperada y excepcional.
            </li>
            <li>
              Acoso laboral: Toda conducta persistente y demostrable, ejercida
              sobre un empleado, trabajador por parte de un empleador, un jefe o
              superior jerárquico inmediato o mediato, un compañero de trabajo o
              un subalterno, encaminada a infundir miedo, intimidación, terror y
              angustia, a causar perjuicio laboral, generar desmotivación en el
              trabajo, o inducir la renuncia del mismo[3]
            </li>
          </ul>
          <strong>Alcance:</strong>
          <br />
          <br />
          Este procedimiento aplica para <strong>AUTO OCASIONAL S.A.S</strong> y
          sus trabajadores dentro de las diferentes modalidades de contratación
          vigentes en el ordenamiento jurídico colombiano, salvo aquellos
          colaboradores que en virtud de la excepción legal establecida en el
          artículo 6º de la Ley 2191 de 2022 y la legislación laboral vigente se
          encuentran exentos de dicha regulación, tales como:
          <ul>
            <li>
              Los trabajadores que desempeñen cargos de dirección, confianza y
              manejo.
            </li>
            <li>
              Aquellos que por la naturaleza de la actividad o función que
              desempeñan deban tener una disponibilidad permanente.
            </li>
            <li>
              Situaciones de fuerza mayor o caso fortuito, en los que se
              requiera cumplir deberes extra de colaboración con la empresa o
              institución, cuando sean necesarios para la continuidad del
              servicio o para solucionar situaciones difíciles o de urgencia en
              la operación de la organización, siempre que se justifique la
              inexistencia de otra alternativa viable.
            </li>
          </ul>
          Se establecen como mecanismos de promoción y garantía del derecho a la
          desconexión laboral de los trabajadores que se encuentren en el goce
          de tiempo libre y los tiempos de descanso, licencias, permisos y/o
          vacaciones, los siguientes:
          <br />
          <br />
          <strong>Lineamientos:</strong>
          <ul>
            <li>
              El trabajador no deberá hacer uso del correo, de los aplicativos y
              herramientas corporativas, durante el tiempo libre, tiempos de
              descanso, licencias, permisos y vacaciones.
            </li>
            <li>
              Los líderes, compañeros y subordinados no deberán dar órdenes,
              realizar solicitudes u otros requerimientos a los trabajadores
              después de finalizada la jornada laboral contemplada en el
              reglamento interno de trabajo o contrato de trabajo o cuando se
              encuentre en periodo de licencias, permisos y/o vacaciones.
            </li>
            <li>
              Los trabajadores no deberán enviar correos corporativos y
              personales en horas que no correspondan a la jornada laboral y
              menos si estos contienen instrucciones, tareas, requerimientos u
              otras obligaciones a cumplir en el oficio del trabajo, en caso tal
              que el trabajador desee hacerlo por voluntad propia, deberá
              programar el envío de correo, en aras de no interrumpir el periodo
              de descanso del trabajador que recibe dicha comunicación.
            </li>
            <li>
              Los correos electrónicos enviados después de finalizado el horario
              laboral, se revisarán el día hábil siguiente o cuando el
              trabajador al cual se remite, se reincorpore a sus labores
              ordinarias.
            </li>
            <li>
              El trabajador no deberá contestar llamadas telefónicas y mensajes
              de texto a través de mensajería instantánea, sms, correo
              electrónico, zoom u otros medios de comunicación personal del
              trabajador para tratar temas laborales, a excepción de situaciones
              de fuerza mayor y caso fortuito, así como, requerimientos que
              puedan afectar sustancialmente la operación y la prestación del
              servicio de la Organización.
            </li>
            <li>
              La Organización promoverá las buenas prácticas de desconexión
              laboral.
            </li>
            <li>
              El trabajador debe procurar por su autocuidado físico, social y
              mental, tanto en los tiempos laborales, como extra laborales.
            </li>
            <li>
              Es responsabilidad de cada trabajador respetar y hacer respetar
              sus horarios laborales y sus días de descanso.
            </li>
            <li>
              Los trabajadores tienen derecho a disfrutar de sus espacios de
              descanso, licencias, permisos y vacaciones, esto, con el ánimo de
              promover el la unión familiar y el desarrollo personal, así como
              para recuperar en dicho tiempo, las capacidades físicas y mentales
              necesarias para el correcto desempeño de las labores encomendadas
              en los tiempos laborales.
            </li>
            <li>
              Para los casos en los cuales los trabajadores realicen horas
              extras, dominicales o festivas, deben tener autorización de su
              jefe inmediato.
            </li>
            <li>
              Ejercer y respetar el derecho a la desconexión laboral no implica
              en los trabajadores el desarrollo de medidas disciplinarias, ni
              impacta en evaluaciones de competencias y desempeño, a menos que
              dicha conducta derive a un grave perjuicio para la empresa y/o
              para sus compañeros.
            </li>
          </ul>
          <strong
            >Procedimiento para la presentación de quejas frente a la
            vulneración del derecho a la desconexión laboral:</strong
          >
          <br />
          <br />
          En caso de que los trabajadores consideren vulnerado el derecho que
          les asiste a la desconexión laboral, podrán presentar quejas, las
          cuales serán tramitadas en atención al siguiente procedimiento:
          <ul>
            <li>
              Presentación de la queja: El trabajador que considere vulnerado su
              derecho de desconexión laboral, interpondrá queja mediante escrito
              motivado, el cual podrá ser presentado por medio de correo
              electrónico al área de Talento Humano.
            </li>
            <li>
              La queja podrá presentarse por el trabajador de manera anónima o a
              nombre propio, según lo prefiera, reuniendo los siguientes
              elementos mínimos:
            </li>
            <li>
              Deberá dirigirse de manera escrita al área de Talento Humano, a
              través de los canales dispuestos para tal fin:
              talentohumano@aotour.com.co
            </li>
            <li>
              Indicación clara y precisa de las circunstancias de tiempo, modo y
              lugar en que se efectuó la presunta vulneración del derecho de
              desconexión laboral.
            </li>
            <li>
              Si el trabajador presuntamente afectado, cuenta con pruebas,
              deberá anexarlas.
            </li>
          </ul>
          <strong>Procedimiento interno para el trámite de las quejas:</strong>
          <ul>
            <li>
              Una vez presentada la queja que cumpla con los elementos mínimos
              de procedencia ya mencionados, el área de Talento Humano escalará
              la queja al Comité de Convivencia Laboral, el cual deberá generar
              una investigación interna en aras de identificar el origen y la
              reiteración del incumplimiento de la presente política, para este
              fin el Comité podrá efectuar indagación con los presuntos
              responsables de la vulneración en aras de determinar la presencia
              de la mala conducta. El término de indagación será de quince (15)
              días calendario contado a partir de la recepción de la queja.
            </li>
            <li>
              Una vez establecido el origen de la presunta vulneración al
              derecho de desconexión laboral, el Comité de Convivencia Laboral
              deberá efectuar un análisis de los hechos de la situación
              presentada, deberá notificar por el medio más idóneo al trabajador
              que presuntamente vulnere el derecho de desconexión laboral del
              quejoso, indicando los presuntos hechos y el presunto
              incumplimiento de la presente Política de Desconexión Laboral, con
              el fin de poner en conocimiento sobre la situación presentada.
            </li>
            <li>
              Para garantizar el debido proceso El Comité de Convivencia Laboral
              citará a reunión a las partes supuestamente implicadas en el
              conflicto, con el fin de escucharlas, analizar los hechos que
              dieron lugar a la queja por presunta vulneración del derecho de
              desconexión laboral e invitarlas para que presenten una propuesta
              de arreglo que permita mitigar el riesgo de repetición de la
              falta. La notificación de la citación se realizará en la dirección
              de correo electrónico corporativo manejado por cada una de las
              partes.
            </li>
            <li>
              Una vez el Comité de Convivencia Laboral escuche a las partes, les
              presentará una propuesta de acuerdo que les permita adoptar
              compromisos y cesar las circunstancias que generan la presunta
              vulneración al derecho de desconexión laboral, así mismo, la
              propuesta deberá acoger las recomendaciones de las partes. Este
              acuerdo deberá ser suscrito por las partes, en aras de procurar su
              seguimiento y control de cumplimiento. Es decir, de ser necesario
              se aplicará el Procedimiento Interno de Prevención y solución de
              conflictos y verificación de los compromisos allegados, con el fin
              de efectuar el cese de las conductas asociadas al incumplimiento
              de esta política.
            </li>
            <li>
              Garantía del derecho al debido proceso: De conformidad con el
              artículo 29 de la Constitución Política de Colombia, se garantiza
              el debido proceso a los trabajadores, en el procedimiento que se
              adelante con respecto al derecho de la desconexión laboral.
            </li>
            <li>
              Incumplimiento: La inobservancia del derecho a la desconexión
              laboral podrá constituir una conducta de acoso laboral, en los
              términos y de conformidad con lo establecido en la Ley 1010 de
              2006. En ningún caso será acoso laboral la conducta que no reúna
              las características de ser persistente y demostrable[4].
            </li>
          </ul>
          Siendo necesario indicar, que <strong>AUTO OCASIONAL S.A.S</strong> no
          tolera, ni comparte cualquier conducta que desconozca los derechos
          laborales de sus trabajadores, ni que sea constitutiva de acoso
          laboral. La alta gerencia está comprometida con el seguimiento al
          cumplimiento eficaz de la política en mención.
          <br />
          <br />
          Esta politica sera publicada, divulgada y actualizada cada vez que la
          organización lo considere pertinente. De igual manera estará
          disponible a todas las partes interesadas.
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>

<!-- TERMINOS Y CONDICIONES -->
<section
  class="general__form"
  style="background-color: white; min-height: 680px"
>
  <section class="general__form-content ver">
    <h3 class="general__form-title">
      Términos y
      <span class="general__title-orange">condiciones</span>
    </h3>
    <p class="general__form-description">
      Al acceder y utilizar este sitio web, usted acepta cumplir con nuestros
      términos y condiciones. Este sitio está destinado a proporcionar
      información general, y cualquier modificación o eliminación de contenido
      puede ocurrir sin previo aviso. Los derechos de propiedad intelectual
      pertenecen a <strong>AUTO OCASIONAL S.A.S.</strong> No nos hacemos
      responsables por daños derivados del uso del sitio o por enlaces externos.
      Nos reservamos el derecho de actualizar estos términos en cualquier
      momento. El uso continuado del sitio implica la aceptación de las
      modificaciones.
    </p>

    <picture>
      <img
        style="width: 60%"
        src="../../../assets/images/policies/planificacion.png"
        alt=""
      />
    </picture>
  </section>
  <div class="general__form-card">
    <!--  [activeIndex]="[0]" -->
    <p-accordion [multiple]="true">
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Generales
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          Al utilizar los servicios ofrecidos por
          <strong>AUTO OCASIONAL S.A.S.</strong>, nuestros clientes aceptan
          automáticamente nuestras políticas y quedan atados, sin ningún tipo de
          limitación, al presente documento de términos y condiciones. En caso
          de no encontrarse de acuerdo con el uso de estas políticas, les
          sugerimos no ingresar ni utilizar nuestras plataformas. La oferta de
          <strong>AUTO OCASIONAL S.A.S.</strong>, consiste en prestar servicio
          público de transporte terrestre automotor especial, los cuales se
          encuentran reunidos dentro de la página web www.aotour.com.co, y la
          aplicación móvil, donde los usuarios pueden solicitar, revisar y
          cerrar los servicios requeridos, asegurando acceso de una manera más
          efectiva.
          <br />
          <br />
          En este sentido, si nuestros usuarios utilizan nuestras plataformas, y
          declaran su voluntad para aceptar nuestros términos y condiciones,
          podrán utilizarlas para acceder a nuestros servicios bajo el rol de
          USUARIO FINAL. En caso contrario, queda claro que no podrán utilizar
          estas herramientas para transacciones de servicios.
          <br />
          <br />
          Estos términos y condiciones cubren integralmente el alcance de
          nuestros servicios, las políticas, las responsabilidades, la
          facturación y los límites de responsabilidad. Inmediatamente después
          de obtener su usuario y contraseña, el usuario tendrá permiso para
          acceder a mecanismos de transacción en nuestra plataforma.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Uso de sitio web AOTOUR
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          Las presentes condiciones generales de uso del portal, regulan el
          acceso y la utilización del portal, incluyendo los contenidos y los
          servicios puestos a disposición de los usuarios en y/o a través del
          portal. Sin embargo, el acceso y la utilización de algunos contenidos
          y/o servicios pueden encontrarse sometidos a determinadas condiciones
          específicas.
          <br />
          <br />
          La empresa se reserva el derecho a modificar en el momento en que lo
          considere pertinente, las condiciones generales de uso del portal.
          <br />
          <br />
          El usuario deberá respetar en todo momento los términos y condiciones
          establecidos en las presentes condiciones generales de uso del portal.
          Expresamente el usuario manifiesta que utilizará el portal de manera
          diligente y asumirá cualquier responsabilidad que pudiera derivarse
          del incumplimiento de las normas.
          <br />
          <br />
          De igual forma, el usuario no podrá utilizar el portal para
          transmitir, almacenar, divulgar, promover o distribuir datos o
          contenidos que sean portadores de virus o cualquier otro código
          informático, archivos o programas que puedan perjudicar el
          funcionamiento de cualquier programa o equipo informático o de
          telecomunicaciones.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Uso de aplicaciones móviles AOTOUR
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          <strong>OBJETO.</strong>
          <br />
          <br />
          La aplicación desarrollada por <strong>AUTO OCASIONAL S.A.S.</strong>,
          consiste en una herramienta tecnológica bajo el nombre “AOTOUR Mobile”
          que se ofrece a través de las plataformas IOS y Android, para ser
          instalado en cualquier dispositivo móvil dentro del territorio
          nacional buscando facilitar el traslado del usuario de un lugar a
          otro, disponiendo del móvil más cercano a la ubicación del usuario,
          siempre con efectividad, seguridad y compromiso, ayudando a solucionar
          de esta manera las necesidades de movilidad de la comunidad, enmarcado
          en un ambiente de respeto, confianza y amabilidad.
          <br />
          <br />
          <strong>ACEPTACIÓN.</strong>
          <br />
          <br />
          Desde el momento en que el usuario descarga e instala en su
          dispositivo móvil, la aplicación “AOTOUR Mobile”, acepta los términos
          y condiciones descritos en el presente documento, referentes a la
          prestación del servicio y declara además que “es quien de forma
          voluntaria decide utilizar la aplicación en su dispositivo móvil, y en
          consecuencia con ello, se adhiere a las condiciones, reglas y
          disposiciones que aquí se describen, pues es este un medio de solución
          a una necesidad particular para facilitar la conectividad entre la
          comunidad y el servicio ofrecido, la cual en adelante y cada vez que
          utilice la aplicación se obliga a aceptar estos términos y
          condiciones”.
          <br />
          <br />
          De igual manera, el usuario declara que tiene total capacidad y
          responsabilidad en la contratación de servicios conforme a las normas
          establecidas por las leyes de la Republica de Colombia. En caso de que
          el usuario haga la aceptación con defraudación a la Ley y a la Buena
          Fe de AOTOUR S.A.S., acarreará con las sanciones pertinentes al caso.
          <br />
          <br />
          En caso de que el usuario sea un menor de edad, la compañía partirá
          del precepto de que el uso de la aplicación “AOTOUR Mobile” se realiza
          bajo la supervisión de sus padres o tutores legales, los cuales
          declaran entonces la aceptación de los presentes términos y
          condiciones.
          <br />
          <br />
          La empresa <strong>AUTO OCASIONAL S.A.S.</strong> podrá en cualquier
          momento y sin necesidad de autorización y/o mediación con el usuario,
          cambiar, modificar, adicionar o suprimir, parte o la totalidad de las
          condiciones generales del presente documento.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Obligaciones del usuario
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <div>
          <ul>
            <li>
              El usuario acepta proveer información exacta, completa y
              actualizada que se requiera para definir su ubicación exacta.
            </li>
            <li>
              Tener capacidad legal para hacer uso del servicio, de lo
              contrario, debe ser asistido por sus representantes legales.
            </li>
            <li>
              Utilizar la aplicación de conformidad con la Ley, las Condiciones
              Generales, así como con la moral, las buenas costumbres
              generalmente aceptadas y el orden público.
            </li>
            <li>
              No utilizar la aplicación para fines ilícitos, lesivos de los
              derechos e intereses de terceros, o que de cualquier manera puedan
              dañar, sobrecargar, inutilizar o deteriorar la aplicación o
              cualquier otro bien relacionado con ella.
            </li>
          </ul>
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Normas aplicables
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          Los presentes términos y condiciones, se ajustan a las normas vigentes
          que regulen la materia en temas de prestación del servicio de
          conformidad con la naturaleza y objeto del mismo en las páginas de
          internet y/o aplicaciones, las cuales estarán sujetas a las Leyes de
          la Republica de Colombia.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Tratamiento de la información
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          El usuario declara que al momento de hacer uso de la aplicación,
          consigna expresamente que deberá suministrar sus datos personales y
          autoriza a AOTOUR S.A.S., y a su aplicación denominada “AOTOUR
          Mobile”, el manejo de la información de conformidad con la Ley 1581 de
          2012 y el decreto 1074 del 2015. Asimismo, autoriza la utilización de
          su ubicación y dirección IP.
          <br />
          <br />
          Por lo tanto, la información personal suministrada por el usuario,
          será guardada y custodiada para evitar el manejo indiscriminado de la
          misma y solo podrá ser utilizada por el proveedor para el envío de
          publicidad, lo cual es aceptado por el usuario. Para mayor información
          el usuario podrá si lo desea, consultar la página web
          www.aotour.com.co.
          <br />
          <br />
          En caso de que una persona ajena y/o unos terceros no relacionados con
          AOTOUR S.A.S., o con la página web y/o aplicaciones de su propiedad,
          accedan y adquieran la información del usuario en el momento de la
          trasmisión de la información del usuario a las páginas, será asumido
          única y exclusivamente por el usuario. Sin embargo, la compañía
          dispondrá de mecanismos para brindar a sus usuarios las conexiones más
          seguras posibles a la fecha de conexión.
        </p>
      </p-accordionTab>
      <p-accordionTab [header]="headerTemplate">
        <ng-template pTemplate="header">
          <div class="header__acordeon">
            Propiedad Intelectual
            <img src="../../../assets/images/portals/mas.png" alt="" />
          </div>
        </ng-template>
        <p>
          La aplicación “AOTOUR Mobile” es propiedad exclusiva de
          <strong>AUTO OCASIONAL S.A.S.</strong> Ningún contenido del sitio
          otorga licencias y/o derechos para utilizar nombres, logos, imagen o
          nombre comercial de la organización. La descarga, instalación, copia o
          reproducción del contenido de la aplicación, realizada por el usuario,
          le transferirá ningún derecho sobre el software o el material de la
          aplicación. Cualquier reproducción no autorizada con fines comerciales
          de la aplicación o cualquier parte del mismo constituye una violación
          de los derechos de autor de AOTOUR S.A.S. Los materiales que se
          encuentran dentro de la página de internet y/o aplicación instalada
          dentro de cualquier dispositivo móvil, están protegidos por las leyes
          de derechos de autor. Explícitamente está prohibido que el material
          utilizado, a menos que expresamente se establezca lo contrario, pueda
          ser copiado, reproducido, transmitido, distribuido, publicado o usado
          por el usuario, en una forma contraria a las Condiciones Generales y a
          las leyes aplicables, sin la autorización previa y expresa de la
          Compañía. Si alguna violación a los derechos de propiedad intelectual
          ocurriere por causa del Usuario, éste será plena y totalmente
          responsable por los daños y perjuicios, previsibles o imprevisibles
          que se originen directa o indirectamente por su conducta, ante la
          Jurisdicción civil por violación a los Derechos Patrimoniales y en
          especial a lo reglado en nuestro ordenamiento Penal, frente al Delito
          por Violación a los Derechos de Autor.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  <section class="general__form-content ocultar">
    <h3 class="general__form-title">
      Términos y
      <span class="general__title-orange">condiciones</span>
    </h3>
    <p class="general__form-description">
      Al acceder y utilizar este sitio web, usted acepta cumplir con nuestros
      términos y condiciones. Este sitio está destinado a proporcionar
      información general, y cualquier modificación o eliminación de contenido
      puede ocurrir sin previo aviso. Los derechos de propiedad intelectual
      pertenecen a <strong>AUTO OCASIONAL S.A.S.</strong> No nos hacemos responsables por
      daños derivados del uso del sitio o por enlaces externos. Nos reservamos
      el derecho de actualizar estos términos en cualquier momento. El uso
      continuado del sitio implica la aceptación de las modificaciones.
    </p>

    <picture>
      <img
        style="width: 60%"
        src="../../../assets/images/policies/planificacion.png"
        alt=""
      />
    </picture>
  </section>
</section>

<!-- PIE DE PAGINA -->
<app-footer-page></app-footer-page>
