<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- PORTADA -->
<section class="portada">
    <section class="portada__content">
        <h2 class="portada__title">

            Conduce <span class="portada__title-paint">a otro</span>
            <span class="portada__title-paint"> nivel</span> en solo 3
            sencillos pasos
        </h2>
        <p class="portada__description">
            Únete a nuestro equipo y lleva tu experiencia al volante a otro nivel. Sigue estos tres sencillos pasos para formar parte de nuestra red de conductores capacitados.
        </p>
        <div class="portada__picture">
            <a href="https://play.google.com/store/apps/details?id=com.aotour.driver" target="_blank">
                <img class="portada__image" src="../../../assets/images/home/google-paly.svg" alt="">
            </a>
            <a href="https://apps.apple.com/co/app/up-driver-by-aotour/id1436541569" target="_blank">
                <img class="portada__image" src="../../../assets/images/home/app-store.svg" alt="">
            </a>
        </div>
    </section>
    <section class="portada__additional">
        <picture>
            <img class="ocultar" src="../../../assets/images/driver/iPhone-13-Pro-Front-portada.png" alt="">
             <img class="ver" src="../../../assets/images/driver/iPhone-13-Pro-Front-port.png" alt="">
        </picture>
    </section>
</section>

<!-- PASOS DESCARGA LA APLICACIÓN  -->
 <!-- style="padding-top: 90px;" -->
<section class="pasos pasos__one pasos__orden">
    <section class="pasos__der">
        <picture class="pasos__der-content">
            <img class="pasos__content-img img__one" src="../../../assets/images/driver/one.png" alt="">
        </picture>

        <section class="pasos__der-text">
            <h2 class="pasos__text-title">
                Inscripción de
                <span class="pasos__title-paint">proveedores</span>
            </h2>
            <p class="pasos__text-description">
                Completa tu inscripción como proveedor a través de nuestra plataforma en línea. Solo necesitas ingresar tus datos y cargar la documentación requerida. Todo el proceso es auto gestionable y rápido, facilitando tu incorporación a nuestro equipo.
            </p>
            <a href="https://www.upnetweb.com/auth/registro/proveedor">
                <button class="pasos__text-btn">LLenar formulario</button>
            </a>
        </section>
    </section>
    <!-- CEL -->
    <section class="pasos__izq">
        <picture class="pasos__izq-content">
            <img class="pasos__content-img"
                src="../../../assets/images/driver/iPhone-13-Pro-Front.png" alt="">
        </picture>
    </section>
</section>

<!-- style="margin-top: -65px;" -->
<section class="pasos pasos__orden-center">
    <section class="pasos__der">
        <picture class="pasos__der-content">
            <img class="pasos__content-img" src="../../../assets/images/driver/two.png" alt="">
        </picture>

        <section class="pasos__der-text">
            <h2 class="pasos__text-title">
                Validación de
                <span class="pasos__title-paint">inscripción</span>
            </h2>
            <p class="pasos__text-description">
                Una vez enviada tu inscripción, nuestro equipo revisará y validará tu documentación. Mantente atento a cualquier comunicación, ya que trabajaremos en conjunto para asegurar que todo esté en orden. Recibirás una notificación tan pronto tu inscripción sea aprobada.
            </p>
        </section>
    </section>

    <section class="pasos__izq">
        <picture class="pasos__izq-content">
            <img class="pasos__content-img" src="../../../assets/images/driver/check.png" alt="">
        </picture>
    </section>
</section>

<!-- style="padding-bottom: 295px" -->
<section class="pasos pasos__orden" style="padding-bottom: 295px"> 
    <section class="pasos__der">
        <picture class="pasos__der-content">
            <img class="pasos__content-img" src="../../../assets/images/driver/there.png" alt="">
        </picture>

        <section class="pasos__der-text">
            <h2 class="pasos__text-title">
                Iniciemos nuestra
                <span class="pasos__title-paint">experiencia</span>
            </h2>
            <p class="pasos__text-description">
                Con la inscripción aprobada y la capacitación completada, estarás listo para iniciar. Accede a nuestra plataforma avanzada para gestionar y seguir tus servicios, cuentas de cobro y más. En la app, encontrarás información del colaborador, viajes programados, historial y descarga de FUEC. Todo lo que necesitas para una experiencia eficiente y profesional como colaborador al volante.
            </p>
        </section>
    </section>

    <!-- CEL -->
    <section class="pasos__izq">
        <picture class="pasos__izq-content">
            <img class="pasos__content-img" src="../../../assets/images/driver/driver.png" alt="">
        </picture>
    </section>
</section>

<!-- PIE DE PAGINA -->
<app-footer-page [height]="windowWidth < 927 ? 800 : 660" [isVisibleBanner]="true"></app-footer-page>