<!-- CABECERA -->
<app-navbar-page></app-navbar-page>

<!-- PORTADA -->
<section class="portada">
    <section class="portada__content">
        <h2 class="portada__title">
            Viaja tranquilo,
            <br>
            Viaja <span class="portada__title-paint">seguro.</span>
        </h2>
        <p class="portada__description">
            Let's make your work more organize and easily using the
            <br>
            Taskio Dashboard with many of the latest featuresin
            <br>
            managing work every day.
        </p>
        <div class="portada__picture">
            <img class="portada__image" src="../../../assets/images/home/google-paly.svg" alt="">
            <img class="portada__image" src="../../../assets/images/home/app-store.svg" alt="">
        </div>

        <section class="portada__content-servicio">
            <form>
                <div>
                    <label for="">TIPO DE IDENTIFICACIÓN</label>
                    <input type="text" placeholder="Tipo de documento">
                </div>
                <div>
                    <label for="">No. IDENTIFICACIÓN</label>
                    <input type="text" placeholder="Cedula ciudadania">
                </div>
                <button>Pedir Servicio</button>
            </form>
        </section>
    </section>
    <section class="portada__additional">
        <picture>
            <img src="../../../assets/images/home/portada.png" alt="">
        </picture>
    </section>
</section>


<!-- DESCARGA APLICACIÓN -->
<section class="descarga">
    <h2 class="descarga__title">Sigue 3 simples pasos</h2>

    <section class="descarga__content">
        <section class="content-block">
            <div class="content-block__picture">
                <img class="content-block__image" src="../../../assets/images/home/descarga.svg" alt="">
            </div>
            <h3 class="descarga__image-title">Descarga la APP</h3>
            <p class="descarga__image-paragraph">
                Lo puedes hacer
                <br>
                desde dispositivos IOS o
                <br>
                Android
            </p>
        </section>
        <section class="content-block">
            <div class="descarga__image">
                <img class="descarga__image-item" src="../../../assets/images/home/document.svg" alt="">
            </div>
            <h3 class="descarga__image-title">Completa tus datos</h3>
            <p class="descarga__image-paragraph">
                Fácil, solo debes seguir las
                <br>
                instrucciones en la app
            </p>
        </section>

        <section class="content-block">
            <div class="content-block__picture">
                <img class="content-block__image" src="../../../assets/images/home/ubicacion.svg" alt="">
            </div>
            <h3 class="descarga__image-title">Pide tu servicio</h3>
            <p class="descarga__image-paragraph">
                Solicita servicios y
                <br>
                gestiona tu cuenta
            </p>
        </section>
    </section>
</section>

<!-- GEOLOCALIZACIÓN -->
<section class="geolocalizacion">
    <section class="geolocalizacion__content">
        <h3 class="geolocalizacion__title">
            Viajes Geolocalizados
            <br>
            de alta seguridad
        </h3>
        <p class="geolocalizacion__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation
            <br>
            <br>
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint
            <span>
                occaecat cupidatat non proident, sunt in culpa qui officia
                <br>
                deserunt mollit anim id est laborum.
            </span>
        </p>
    </section>
    <section class="geolocalizacion__content-image">
        <picture class="geolocalizacion__image-content">
            <img src="../../../assets/images/home/mapa.jpg" alt="" class="geolocalizacion__content-img">
        </picture>
    </section>
</section>

<!-- EMPRESAS ALIADAS -->
<!-- <section class="empresas">
    <h2 class="empresas__title">
        Más de 20 empresas viven la experiencia
        <br>
        de transporte a otro nivel
    </h2>

    <picture class="empresas__content">
        <img class="empresas__content-image" src="../../../assets/images/home/empresas-aliadas.png" alt="">
    </picture>
</section>  -->

<!-- DISPONIBILIDAD -->
<section class="disponibilidad">
    <section class="disponibilidad__content">
        <picture class="disponibilidad__content-img">
            <img src="../../../assets/images/home/estamos24/7.png" alt="">
        </picture>
    </section>
    <section class="disponibilidad__content">
        <h3 class="disponibilidad__content-title">Estamos para ti <span class="disponibilidad__title-orange">24/7</span>
        </h3>
        <p class="disponibilidad__content-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation
        </p>

        <nav class="disponibilidad__content-nav">
            <ul class="disponibilidad__nav">
                <li class="disponibilidad__nav-item">
                    <div><img src="../../../assets/images/home/check.svg" alt=""></div>
                    <span>Free Consulting With Experet Saving Money</span>
                </li>
                <li class="disponibilidad__nav-item">
                    <div><img src="../../../assets/images/home/check.svg" alt=""></div>
                    <span>Online Banking</span>
                </li>
                <li class="disponibilidad__nav-item">
                    <div><img src="../../../assets/images/home/check.svg" alt=""></div>
                    <span>Investment Report Every Month</span>
                </li>
                <li class="disponibilidad__nav-item">
                    <div><img src="../../../assets/images/home/check.svg" alt=""></div>
                    <span>Saving Money For The Future</span>
                </li>
                <li class="disponibilidad__nav-item">
                    <div><img src="../../../assets/images/home/check.svg" alt=""></div>
                    <span>Online Transection</span>
                </li>
            </ul>
        </nav>
    </section>
</section>

<!-- UN NUEVO CONCEPTO DE TRANSPORTE -->
<section class="trasnporte">
    <h2 class="trasnporte__title">
        Un nuevo concepto
        <br>
        del <span class="trasnporte__title-orange">transporte
            <br>
            corporativo</span>
    </h2>
    <picture class="trasnporte__content-img">
        <img src="../../../assets/images/home/ducter.png" alt="">
    </picture>
    <p class="trasnporte__paragraph">
        Tus empleados y clientes se moverán de una forma rápida y segura.
        Controla desde una sola plataforma todos tus gastos.
    </p>
</section>

<!-- PIE DE PAGINA -->
<app-footer-page [height]="windowWidth < 927 ? 800 : 660" [isVisibleBanner]="true"></app-footer-page>
 