<!-- CABECERA -->
<header class="portada">
    <app-navbar-page [logo]="'../../../../assets/images/headers/logo-blanco.png'" [botonFondo]="'#232323'"
        [shadow]="'0px 17px 33px 0px #A22F00'"></app-navbar-page>

        <picture>
            <img src="../../../assets/images/us/portada-redimensionada.png" alt="">
        </picture>
</header>

<section class="content__us">
    <!-- MESSAGE -->
    <section class="content">
        <span class="content__text">Business and Transport Travel Management Company</span>
    </section>

    <!-- NUESTRA MISION -->
   <section class="mision">
        <section class="general__content-der">
            <picture class="general__content-img ocultar">
                <img src="../../../assets/images/us/carretera.png" alt="">
            </picture>
        </section>
        <section class="general__content-izq">
            <h2 class="general__izq-title">Nuestra Misión</h2>
            <p class="general__izq-paragraph">
                Somos una empresa prestadora de servicios de transporte terrestre especial
                de pasajeros corporativos, ejecutivos, particular y servicios turísticos, con altos
                estándares de calidad y excelencia en el servicio.
                <br>
                <br>
                Contamos con un talento humano idóneo, competente, con un moderno
                parque automotor y con la mejor infraestructura logística y tecnológica,
                constituyéndonos en una organización vanguardista comprometida con la
                calidad, accesibilidad, confiabilidad y seguridad de todos nuestros clientes.
            </p>
            <picture class="general__izq-img">
                <img src="../../../assets/images/us/card.png" alt="">
            </picture>
        </section>
    </section>
    <!-- NUESTRA VISIÓN -->
    <section class="mision">
        <section class="general__content-izq">
            <h2 class="general__izq-title">Nuestra visión</h2>
            <p class="general__izq-paragraph">
                <strong>AOTOUR,</strong> tiene la firme convicción de liderar entre las empresas más
                reconocidas e importantes de transporte especial integrado de pasajeros y
                turístico en el año 2026.
                <br>
                <br>
                Contando con las certificaciones de un modelo de gestión integral de calidad
                y velando por la SST; satisfaciendo las expectativas de nuestros clientes y
                colaboradores con atención personalizada, innovadora a través de
                herramientas tecnológicas y talento humano capacitado, que conecten las
                experiencias en nuestros servicios
            </p>
            <picture class="general__izq-img">
                <img src="../../../assets/images/us/ubi-card.png" alt="">
            </picture>
        </section>

        <section class="general__content-der">
            <picture class="vision__content-img ocultar">
                <img src="../../../assets/images/us/app.png" alt="">
            </picture>
        </section>
    </section>
</section>

<!-- NUESTRO CERTIFICADOS -->
<!-- <section class="certificaciones">
    <h2 class="certificaciones__title">Nuestras certificaciones</h2>

    <picture class="certificaciones__content">
        <img class="certificaciones__content-img" src="../../../assets/images/us/certificaciones.png" alt="">
    </picture>
</section> -->
<!-- VALORES CORPORATIVOS -->
<section class="valores">
    <h2 class="valores__title">Estamos convencidos de <span class="valores__title-orange">nuestros valores</span></h2>

    <section class="valores__content">
        <section class="valores__content-card">
            <div class="valores__card-img">
                <img src="../../../assets/images/us/honestidad.png" alt="">
            </div>
            <h3 class="valores__card-title">Honestidad</h3>
            <p class="valores__card-paragraph">Somos conscientes de nuestro actuar profesional bajo los más estrictos
                principios éticos, morales y legales, brindando a nuestros clientes y usuarios información coherente y
                consciente sobre los servicios solicitados, programados y realizados.</p>
        </section>
        <section class="valores__content-card">
            <div class="valores__card-img">
                <img src="../../../assets/images/us/trabajo-equipo.png" alt="">
            </div>
            <h3 class="valores__card-title">Trabajo en equipo</h3>
            <p class="valores__card-paragraph">Es nuestra forma auténtica de intervenir en los asuntos corporativos
                donde predominan las metas y objetivos generales sobre las particulares, teniendo como eje central el
                hacerlo bien desde el inicio.</p>
        </section>
        <section class="valores__content-card">
            <div class="valores__card-img">
                <img src="../../../assets/images/us/confidencial.png" alt="">
            </div>
            <h3 class="valores__card-title">Confidencial</h3>
            <p class="valores__card-paragraph">Consideramos valiosa toda información suministrada o a suministrar,
                manteniendo el más alto grado de discreción garantizando la protección de todos los asuntos de nuestros
                interesados.</p>
        </section>
    </section>
</section>
<!-- TESTIMONIOS DE CLIENTES -->
<section class="testimonios">
    <h2 class="testimonios__title">Testimonios de clientes</h2>

    <section class="testimonios__content">
        <section class="testimonios__content-card">
            <picture class="testimonios__card-img">
                <img src="../../../assets/images/us/comillas.png" alt="">
            </picture>
            <p class="testimonios__card-paragraph">"Byway's tech courses are top-notch! As someone who's always looking
                to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging
                multimedia. </p>
            <div class="testimonios__card-info">
                <div class="testimonios__info-img"><img src="../../../assets/images/us/profile.png" alt="">
                </div>
                <div class="testimonios__info-desc">
                    <span class="testimonios__desc-name">Jane Doe</span>
                    <span class="testimonios__desc-rank">Designer</span>
                </div>
            </div>
        </section>
        <section class="testimonios__content-card">
            <picture class="testimonios__card-img">
                <img src="../../../assets/images/us/comillas.png" alt="">
            </picture>
            <p class="testimonios__card-paragraph">"Byway's tech courses are top-notch! As someone who's always looking
                to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging
                multimedia. </p>
            <div class="testimonios__card-info">
                <div class="testimonios__info-img"><img src="../../../assets/images/us/profile.png" alt="">
                </div>
                <div class="testimonios__info-desc">
                    <span class="testimonios__desc-name">Jane Doe</span>
                    <span class="testimonios__desc-rank">Designer</span>
                </div>
            </div>
        </section>
        <section class="testimonios__content-card">
            <picture class="testimonios__card-img">
                <img src="../../../assets/images/us/comillas.png" alt="">
            </picture>
            <p class="testimonios__card-paragraph">"Byway's tech courses are top-notch! As someone who's always looking
                to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging
                multimedia. </p>
            <div class="testimonios__card-info">
                <div class="testimonios__info-img"><img src="../../../assets/images/us/profile.png" alt="">
                </div>
                <div class="testimonios__info-desc">
                    <span class="testimonios__desc-name">Jane Doe</span>
                    <span class="testimonios__desc-rank">Designer</span>
                </div>
            </div>
        </section>
    </section>

    <!-- <div class="testimonios__paginador">
        <img src="../../../assets/images/us/paginador.png" alt="">
    </div> -->
</section>
<!-- PIE DE PAGINA -->
<app-footer-page></app-footer-page>