.footer {
  background-color: #232323;
  width: 100%;
  // height: 580px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 80px 60px 20px;
  position: relative;
  justify-content: flex-end;
}

.footer__banner {
  width: 100%;
  // height: 356px;
  height: 585px;
  background-color: #db4403;
  border-radius: 20px;
  position: absolute;
  top: -190px;
  left: 0;
  padding: 0px 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .footer__banner-content {
    width: 100%;
  }

  .footer__banner-img {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    picture {
      img {
        position: absolute;
        // right: -160px;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 90%;
      }
    }
  }
}

.footer__content-title {
  padding-top: 12px;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  color: white;
  margin: 0;
  margin-bottom: 48px;
}

.footer__content-paragraph {
  // margin-top: -20px;
  font-family: Poppins;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: white;
}

.footer__picture {
  display: flex;
  justify-content: center;
  gap: 10px;
  img {
    width: 120px;
    cursor: pointer;
  }
}

.footer__content {
  display: flex;

  .footer__block {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }

  .footer__nav-section {
    width: 70%;
    display: flex;
    gap: 100px;
  }
}

.footer__image-group {
  display: flex;
  gap: 24px;
}

.footer__image {
  display: flex;
  gap: 24px;
  img {
    width: 186px;
  }
}

.footer__form {
  .footer__label {
    color: #ffffff;
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 32.58px;
    text-align: left;
  }

  .footer__form-group {
    position: relative;
    width: 335px;
    .footer__input {
      width: 335px;
      height: 49px;
      border-radius: 31px;
      background-color: #ffffff;
      color: #aaaaaa;
      padding: 0 60px 0 10px;
      outline: none;
      border: none;

      &::placeholder {
        font-family: Poppins;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #aaaaaa;
      }
    }

    .footer__button-image {
      position: absolute;
      width: 39px;
      height: 39px;
      top: 6px;
      right: 6px;
      border-radius: 26px;
      opacity: 0px;
      background-color: #db4403;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.footer__nav {
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .footer__nav-item {
      color: #ffffff;
      font-family: Poppins;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 32.58px;
      text-align: left;
    }

    .item-cabecera {
      color: #ffffff;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 700;
      line-height: 32.58px;
      text-align: left;
    }
  }
}

.footer__extra {
  background-color: #ffffff;
  width: 100%;
  height: 1px;
  border: 3px;
  opacity: 0.2px;
}

.footer__section {
  display: grid;
  place-items: center;
  .footer__span {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
  }
}

@media (min-width: 992px) {
  .footer__banner {
    height: 356px;
    flex-direction: row;
    justify-content: center;

    .footer__banner-content {
      width: 40%;
    }

    .footer__banner-img {
      width: 60%;
      height: 100%;
      position: relative;
      display: inline-block;

      picture {
        img {
          position: absolute;
          right: -60px;
          bottom: 0;
          width: 100%;
          // height: 100%;
        }
      }
    }
  }

  .footer__content-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
  }

  .footer__content-paragraph {
    margin-top: -20px;
    font-size: 14px;
    text-align: left;
  }

  .footer__picture {
    justify-content: start;
    img {
      width: 120px;
      cursor: pointer;
    }
  }

  .footer__content {
    .footer__block {
      width: 30%;
    }

    .footer__nav-section {
      width: 70%;
      display: flex;
      gap: 100px;
    }
  }

  .footer__form {
    .footer__label {
      font-size: 14px;
    }

    .footer__form-group {
      .footer__input {
        &::placeholder {
          font-size: 14px;
        }
      }
    }
  }

  .footer__nav {
    .footer__nav-list {
      gap: 24px;
      .footer__nav-item {
        font-size: 14px;
      }

      .item-cabecera {
        font-size: 17px;
      }
    }
  }

  .footer__section {
    .footer__span {
      font-size: 17px;
    }
  }
}
